/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.siteTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  color: white;
}

.fadeUp {
  animation: fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroBanner {
  display: grid;
  grid-row: auto;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splashBackground {
  top: -30px;
  height: 100vh;
  background-image: url("../../static/img/Office.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
