.formCard {
  background-color: rgb(64, 64, 64);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  min-width: 500px;
  align-items: center;
  margin: 0 100px 0 100px;
  padding: 20px 0 20px 20px;
}
